<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Selenium Test">
    <classes>
      <class name="example.NewTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="REST Assured JSON">
  	<classes>
  		<class name="example.TestJSON"></class>
  	</classes>
  </test>
  <test name="REST Assured XML">
  	<classes>
  		<class name="example.TestXML"></class>
  	</classes>
  </test>
  <test name="REST Assured SOAP">
  	<classes>
  		<class name="example.TestSOAP"></class>
  	</classes>
  </test>
</suite> <!-- Suite -->
